:root {
  /* Light Mode Colors */
  --lightMode-orange-color: #ee4e34;
  --lightMode-light-color: #fcedda;

  /* Dark Mode Colors */
  --darkMode-dark-color: #262223;
  --darkMode-light-color: #ddc6b6;

  /* size */
  --border-radius: 8px;
}

body {
  margin: 0;
  background-color: var(--lightMode-light-color);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: "Josefin Sans", sans-serif;
  color: var(--lightMode-orange-color);
  font-size: 50px;
}

.timer-container {
  background-color: var(--lightMode-orange-color);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-container span {
  font-size: 60px;
  color: var(--lightMode-light-color);
}

.pauseBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--lightMode-light-color);
  border: var(--lightMode-light-color) 2px solid;
  font-size: 20px;
  position: absolute;
  top: 400px;
  padding: 3px 10px;
  border-radius: 6px;
}

.mode {
  border: var(--lightMode-orange-color) 2px solid;
  border-radius: var(--border-radius);
  width: 70%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mode .mode-item {
  background-color: var(--lightMode-orange-color);
  color: var(--lightMode-light-color);
  width: 120px;
  height: 90%;
  border-radius: var(--border-radius);
}
