:root {
  /* Color */
  --white-color: #f6f5f1;
  --beige-color: #dcd7c9;
  --brown-color: #966844;
  --light-blue-color: #c2c8c6;
  --green-color: #3f4e4f;
  --dark-color: #2c3639;

  /* Font-size */
  --font-large: 25px;
  --font-medium: 20px;
  --font-small: 18px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--white-color);
  font-family: "Josefin Sans", sans-serif;
}

/* Header */

a {
  text-decoration: none;
}

.header .info a,
span {
  color: var(--dark-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: var(--light-blue-color);
  position: sticky;
  top: 0;
}

.header .titleAndLogo {
  display: flex;
  align-items: center;
}

.header .titleAndLogo i {
  color: var(--green-color);
  font-size: var(--font-medium);
  margin-left: 0.5rem;
}

.header .titleAndLogo .title {
  font-weight: bold;
  font-size: var(--font-large);
  padding: 0.5rem;
}

.header .titleAndLogo .title a {
  color: var(--dark-color);
}
.header .info {
  margin-right: 0.5rem;
}

/* Timer */
.timer {
  background-color: var(--green-color);
  margin: 0;
  width: 25%;
  height: 50%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer .time_In_Timer {
  font-size: var(--font-large);
  color: var(--white-color);
}

/* ToDo List */
.todoList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.todoList .todoItems {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
